{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.price_for_one }} руб.</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <div class="container px-4 text-center">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             src="{{ object.image|mymedia }}"
                             alt="Card image cap">
                    </div>
                    <div class="row gx-5">
                        <div class="col">
                            <h6 class="p-2">{{ object.name }}</h6>
                        </div>
                    </div>
                </div>
                <li>{{ object.description|truncatechars:50 }}</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}